header {
  background-color: #44444e;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;

  a {
    text-decoration: none;
  }

  .content {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .input-container {
    background-color: #021526;
    position: relative;
    width: 240px;
    display: flex;
    padding: 10px;
    border-radius: 10px;

    .search-icon {
      width: 24px;
      height: 24px;
      color: white;
      position: absolute;
      top: 50%;
      left: 4%;
      transform: translateY(-50%);
    }

    input {
      background-color: transparent;
      border: none;
      width: 100%;
      height: 100%;
      outline: none;
      width: 86%;
      margin-left: auto;
      color: inherit;
      font-family: inherit;
    }
  }
}

@media screen and (max-width: 1300px) {
  header {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  header {
    .content {
      flex-direction: column;
      gap: 10px;
    }
  }
}
