header {
  background-color: #44444e;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;

  a {
    text-decoration: none;
  }

  .content {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
}

@media screen and (max-width: 1300px) {
  header {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  header {
    .content {
      flex-direction: column;
      gap: 10px;
    }
  }
}
