.container {
  display: flex;
  gap: 20px;
  align-items: start;

  .img-container {
    width: 35%;
    height: 550px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .texts-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    font-size: 18px;

    h2 {
      margin: 0;
    }

    span {
      color: rgb(181, 181, 181);
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;

    .img-container {
      width: 50%;
    }

    .texts-container {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    .img-container {
      width: 100%;
      height: auto;
    }
  }
}
