.container {
  display: flex;
  gap: 20px;
  align-items: start;

  .img-container {
    width: 35%;
    height: 550px;
    flex-shrink: 0;

    &.skeleton {
      border-radius: 10px;
      animation: skeleton-loading 1s linear infinite alternate;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .texts-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    font-size: 18px;

    &.skeleton {
      gap: 20px;
    }

    h2 {
      margin: 0;
    }

    span {
      color: rgb(181, 181, 181);
    }
  }
}

.skeleton-title {
  height: 40px;
  border-radius: 10px;
  animation: skeleton-loading 1s linear infinite alternate;
  width: 85%;
}

.skeleton-plot {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-row {
  height: 20px;
  border-radius: 10px;
  animation: skeleton-loading 1s linear infinite alternate;
  width: 25%;
  margin: 10px 0;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;

    .img-container {
      width: 50%;
    }

    .texts-container {
      width: 100%;
      text-align: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    .img-container {
      width: 100%;
      height: auto;

      &.skeleton {
        height: 450px;
      }
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsla(240, 7%, 29%, 0.7);
  }
  100% {
    background-color: hsla(208, 90%, 8%, 0.93);
  }
}
