.card {
  max-width: 300px;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border: 1px solid #505051;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: #152f47;
  }

  .image-container {
    width: 100%;
    height: 80%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .texts-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 14px;
      transform: all 0.3s;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin: 0;
      margin-top: auto;
      margin-left: auto;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
