.search-container {
  position: relative;
}

.suggestions {
  position: absolute;
  top: 110%;
  right: 0;
  width: 100%;
  background-color: #0a2034;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 100px;
  max-height: 400px;
  width: 350px;
  padding: 10px;
  text-align: center;
}

.input-container {
  background-color: #021526;
  position: relative;
  width: 240px;
  display: flex;
  padding: 10px;
  border-radius: 10px;

  .search-icon {
    width: 24px;
    height: 24px;
    color: white;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
  }

  input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    width: 86%;
    margin-left: auto;
    color: inherit;
    font-family: inherit;
  }
}

.suggestions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.suggestion-movie-card {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #505051;
  padding-bottom: 10px;
  cursor: pointer;

  img {
    width: 50px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.show-more {
  margin-top: 10px;
  border: none;
  background-color: #152f47;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
