<div class="search-container">
  <div class="input-container">
    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon search-icon" viewBox="0 0 512 512">
      <path
        d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
        fill="none"
        stroke="currentColor"
        stroke-miterlimit="10"
        stroke-width="32"
      />
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-miterlimit="10"
        stroke-width="32"
        d="M338.29 338.29L448 448"
      />
    </svg>
    <input
      placeholder="Search Movie..."
      [(ngModel)]="searchString"
      (ngModelChange)="liveSuggestion($event)"
    />
  </div>
  <div class="suggestions">
    @for (item of suggestions(); track item.imdbID) {
      <div class="suggestion-movie-card">
        <img [src]="item.Poster" [alt]="item.Title" />
        <p>{{ item.Title }} ({{ item.Year }})</p>
      </div>
    }
  </div>
</div>
