.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 40px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;

  button {
    padding: 4px 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

.movie-card-skeleton {
  width: 300px;
  height: 450px;
  background-color: #505051;
  border-radius: 10px;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsla(240, 7%, 29%, 0.7);
  }
  100% {
    background-color: hsla(208, 90%, 8%, 0.93);
  }
}
