@if (error()) {
  <p>{{ error() }}</p>
}

@if (loading()) {
  <div class="list">
    @for (movie of dummyMovies; track movie) {
      <div class="movie-card-skeleton"></div>
    }
  </div>
}

<div class="list">
  @for (movie of movies(); track movie.imdbID) {
    <app-movie-card [data]="movie" />
  }
</div>

@if (!loading()) {
  <div class="pagination">
    <button [disabled]="loading()" (click)="previousPage()">Previous</button>
    <div>{{ currentPage() }}</div>
    <button [disabled]="loading()" (click)="nextPage()">Next</button>
  </div>
}
